<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>21, 21, 21! Fan Site</h1>
        <h2>I like hot suace on my chicken!</h2>
        <img src="https://i1.wp.com/www.passionweiss.com/wp-content/uploads/2017/04/21.jpg?ssl=1" alt="21 Savage Profile Photo">

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

</div>
</body>
</html>
